# Build results
/publish/
bin/
obj/
*.dll
*.exe

# VS + user files
.vs/
*.user
*.suo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Configuration secrets
appsettings.json
appsettings.Development.json
secrets.json


!appsettings.Template.json

# VS Code settings
.vscode/

# Azure publish settings
*.Publish.xml

